/* Color scheme

primary background color - #F3EEEA  or #FFC7C7;
   primary color - light pink  #ED9ED6;
   accent color - purple #c187df or #C683D7;
   text - medium gray and black #333;
   link text - blue #7071E8 and purple #65128e;
   button - purple #65128e;
   button text - white;
*/
:root {
  --LighterBackground: #f3eeea;
  --LighterPink: #ed9ed6;
  --LighterPurple: #c187df;
  --GridGray: lightgray;
  --BlackText: #333;
  --DarkerBlack: #000;
  --WhiteText: white;
  --AccentText: #7071e8;
  --AnchorVisited: #500973;
  --AnchorActive: #044a16;
  --ButtonPurple: #65128e;
  --BorderBlack: rgba(0, 0, 0, 0.3);
  --RegularFontWeight: 400;
  --BoldFont: 700;
  --GeneralFontSize 16px;
  --LargeFontSize: 40px;
  --MediumFontSize: 30px;
  --SmallFontSize: 14px;
}
h1 {
  font-size: var(--LargeFontSize);
  font-weight: var(--BoldFont);
  color: var(--AccentText);
}
.button-class {
	background-color:  var(--LighterPurple)
	border: none;
	width: 15em; 
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: var(--MediumFontSize);
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: var(--AccentText);
	border: 5px solid var(--ButtonPurple);
  border-radius: 5px;
}

.button-class:hover,
.button.class:focus,
.button.class:active {
    cursor: pointer;
    background-color: var(--AccentText);
    color:white
}

@media all and (max-width: 440px) {

  /* decrease font sizes and padding for small screens */
  page-header {
    width: 400px;
  }

  body {
      font-size: 13pt;
      padding: 0 20px;
  }

  h1 {
      font-size: var(--MediumFontSize);
  }

  .listItemButton {
      font-size: 16pt;
  }

  ul {
      padding: 5px;
  }

  ul li {
      margin: 10px 5px;
  }
  .button-class {
    width: 9em;
    font-size: 20px;
    border: 2px solid var(--ButtonPurple);
  }

}